/* line 1, ../compass/sass/_base.scss */
body {
  background: #000;
}
/* line 3, ../compass/sass/_base.scss */
body #wrapper {
  width: 40%;
  margin: auto;
  padding: 30px;
  background-color: #cacaca;
}
/* line 8, ../compass/sass/_base.scss */
body #wrapper #header {
  position: relative;
  border: #5c9bb7 10px solid;
}
/* line 11, ../compass/sass/_base.scss */
body #wrapper #header h1 {
  text-align: center;
}
/* line 15, ../compass/sass/_base.scss */
body #wrapper .students {
  margin: 10px;
  font-size: 24px;
}
/* line 18, ../compass/sass/_base.scss */
body #wrapper .students .accepted {
  font-size: 40px;
  color: blue;
}
