<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title></title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>


</head>
<body ng-controller="myController">

<input type="text" ng-model="sortInput">

<table border=1>
			<thead>
				<th><a href="" ng-click="sortField='name'; reverse= !reverse">Country Name</a></th>
				<th>Country Population</th>
				<th>Country Leader</th>
				<th>Country Flag Colors</th>
			</thead>

			<tr ng-repeat="country in countries | filter:sortInput | orderBy: 'name' |  orderBy:sortField:reverse">
				<td><a href="" ng-click="removeCountry($index)">{{country.name}}</a></td>
				<td>{{country.population}}</td>
				<td>{{country.leader}}</td>
				<td>{{country.flagColors}}</td>
			</tr>
	</table>

	<form ng-submit="addCountry()" name="form">
		<input type="text" required ng-minlength="3" ng-model="name" placeholder="Country Name">
		<input type="text" required ng-minlength="3" ng-model="population" placeholder="Country Population">
		<input type="text" required ng-minlength="3" ng-model="leader" placeholder="Country Leader">
		<input type="text" required ng-minlength="3" ng-model="flagColors" placeholder="Flag Colors">
		<input type="submit" required ng-disabled="form.$invalid" value="Add Country">
	</form> 
	<div ng-attr-id="test-div">
		{{message}}
	</div>
</body>
</html>