<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title></title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>


</head>
<body ng-controller="myController">

<table border=1>
			<thead>
				<th>Country Name</th>
				<th>Country Population</th>
				<th>Country Leader</th>
				<th>Country Flag Colors</th>
			</thead>

			<tr ng-repeat="country in countries">
				<td>{{country.name}}</td>
				<td>{{country.population}}</td>
				<td>{{country.leader}}</td>
				<td>{{country.flagColors}}</td>
			</tr>
	</table>

	<form ng-submit="addCountry()">
		Country Name<input type="text" ng-model="name">
		Country Population<input type="text" ng-model="population">
		Country Leader<input type="text" ng-model="leader">
		Country Flag Colors<input type="text" ng-model="flagColors">
		<input type="submit" ng-model="newCountry">
	</form> 
</body>
</html>